# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/taskflow?schema=public"

# CC-Auth (Cognito)
NEXT_PUBLIC_COGNITO_USER_POOL_ID="ap-northeast-1_lSPtvbFS7"
NEXT_PUBLIC_COGNITO_CLIENT_ID="5nm9g294deq3r8dl8qkq33eohp"
NEXT_PUBLIC_REDIRECT_URI="http://localhost:3000/auth/callback"
NEXT_PUBLIC_LOGOUT_URI="http://localhost:3000"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
